modules = ["nodejs-22"]
run = "npm install && npm run dev"
entrypoint = "src/app/page.tsx"

[[ports]]
localPort = 4317
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm ci && npm run build"]
run = ["npm", "run", "start"]
